<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellite Info</title>
    <style>
        .main-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        </style>
</head>
<body>
    <div class="main-body">
        <h1> Satellite Info </h1>
        <h3> Django Project </h3>
        <h5> Contributors: Berk Cohadar & Emre Serdar</h5>

    </div>

    <!-- <script type="text/javascript">
        let url = "API_ENDPOINT"
        const channel = new WebSocket(url)
        channel.onmessage = function(e) {
            let data = JSON.parse(e.data)
            console.log("MSG => ", data)
        }
    </script> -->
</body>
</html>